.social-wrap {
    margin-bottom: 60px;
    .social-header {
        text-align: center;
        margin-bottom: 42px;
        h2 {
            text-align: center;
        }
    }
    .social-content {
        .social-content-inner {
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
            @media only screen and (max-width: 575px) {
                display: block;
                text-align: center;
                margin-bottom: 30px;
            }
            img {
                max-width: 317px;
                @media only screen and (max-width: 991px) {
                    max-width: 220px;
                }
                @media only screen and (max-width: 680px) {
                    max-width: 200px;
                }
                @media only screen and (max-width: 575px) {
                    max-width: 100%;
                    margin-bottom: 20px;
                }
            }
        }
    }
}
