.shop-wrap {
    margin-bottom: 128px;
    .shop-inner {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        padding: 50px 52px 37px;
        .btn-primary {
            display: inline-block;
        }
        h2 {
            margin-bottom: 33px;
            margin-top: 20px;
        }
    }
}