.triple-threat-wrap {
    margin-bottom: 110px;
    .triple-threat-img {
        @media only screen and (max-width: 767px) {
            max-width: 400px;
        }
    }
    .triple-threat-content {
        @media only screen and (max-width: 767px) {
            text-align: center;
            margin-top: 30px;
        }
    }
    h2 {
        @include transform(translateX(-93px));
        @media only screen and (max-width: 991px) {
            @include transform(translateX(-150px));
        }
        @media only screen and (max-width: 767px) {
            @include transform(translateX(0px));
            text-align: center;
        }
    }
    .discout-combo {
        font-family: "GT Sectra Display";
        margin-top: 25px;
        .save {
            font-size: 41px;
            line-height: 51px;
            letter-spacing: 0.02em;
            font-weight: 400;
        }
        .desc {
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.02em;
        }
        .combo-detail {
            margin-top: 40px;
            p {
                font-size: 24px;
                line-height: 30px;
            }
        }
    }
    .number-product {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        @media only screen and (max-width: 767px) {
            justify-content: center;
        }
        .total-number-product {
            font-size: 86px;
            line-height: 107px;
            letter-spacing: 0.09em;
            color: rgba(255, 255, 255, 0.2);
            font-family: "GT Sectra Display";
            position: relative;
            top: -10px;
            width: 35px;
            margin: 0 42px;
        }
        a {
            display: inline-block;
        }
    }
}