footer
    .container-fluid
        .container
            .footer-wrap
                .skull-v2
                    img(src="assets/images/skull-2.png", alt="")
                .sitemap
                    ul
                        li
                            a(href="#") Gin
                        li
                            a(href="#") Merch
                        li
                            a(href="#") COCKYTEES
                        li
                            a(href="#") The tale
                        li
                            a(href="#") Journal
                    .subsribe
                        form(action="")
                            .form-group
                                input(type="text" placeholder="Subscribe for special offers").form-control
                                a(href="javscript:void(0);")
                                    img(src="assets/images/next.svg", alt="")
                .social
                    a(href="#") insta
                    a(href="#") FB
            .copyright
                span.copyright-inner © 2020 death gin
                p
                    span What is Lorem Ipsum?
                    |Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.