script(type="text/javascript", src="assets/libs/jquery-3.1.1.min.js")
//- script(type="text/javascript", src="assets/libs/popper/popper.min.js")
script(type="text/javascript", src="assets/libs/bootstrap/bootstrap.min.js")
//- script(type="text/javascript", src="assets/libs/slick-master/slick/slick.js") 
//- script(type="text/javascript", src="assets/libs/aos/aos.js") 
script(type='text/javascript', src='assets/js/javascript.js')
//- script(type='text/javascript', src='assets/js/tu.js')