.container-fluid(style="background: #747B4D;")
    .container.getit-wrap
        a(href="javascript:void(0);").btn-close
            img(src="assets/images/x-button-white.svg", alt="")
        h6 Our new hemp gin is now available in the gin shop!
        a(href="#").btn-outline get it now
    