header
    .container-fluid
        .container
            .header-wrap
                .logo-brand
                    img(src="assets/images/brand.svg", alt="")
                .gin-navi
                    ul
                        li
                            a(href="#") Gin
                        li
                            a(href="#") Merch
                        li
                            a(href="#") Cocktees
                        li
                            a(href="#") The tale
                        li
                            a(href="#") Journal
                .user
                    a(href="javascript:void(0);").btn-outline Login
                    a(href="#").cart Cart
                    .skull
                        img(src="assets/images/skull.png", alt="")
                        .noti
                            span 1
                .resp-navbar
                    a(href="javascript:void(0);").btn-navbar-resp
                        i.fas.fa-bars
                    .resp-navbar-wrap
                        .overlay
                        .resp-navbar-inner
                            .user-resp 
                                img(src="assets/images/skull-2.png", alt="")
                                a(href="javascript:void(0);").btn-close
                                    i.fas.fa-times
                            .gin-navi
                                ul
                                    li
                                        a(href="#") Gin
                                    li
                                        a(href="#") Merch
                                    li
                                        a(href="#") Cocktees
                                    li
                                        a(href="#") The tale
                                    li
                                        a(href="#") Journal
                            .user-action
                                a(href="javascript:void(0);").btn-primary Login
                                a(href="#") Cart
            .header-content
                p AUSTRALIAN MADE HANDCRAFTED BATCH DISTILLED
