.cta-wrap {
    margin-bottom: 155px;
    .cta-inner {
        position: relative;
        .cta-content {
            max-width: 510px;
            position: absolute;
            left: 0px;
            bottom: 45px;
            padding: 0 60px;
            @media only screen and (max-width: 575px) {
                position: relative;
                bottom: 0;
                padding: 0;
                margin: auto;
                margin-top: 30px;
                text-align: center;
            }
            p {
                font-family: "GT Sectra Display";
                font-size: 18px;
                line-height: 23px;
                margin-bottom: 23px;
            }
            .btn-primary {
                display: inline-block;
            }
        }
    }
}