.cocktails-wrap {
    margin-bottom: 90px;
    .cocktails-header {
        position: relative;
        z-index: 2;
        margin-bottom: 35px;
        .left {
            margin-right: 52px;
            @media only screen and (max-width: 991px) {
                position: absolute;
                left: -70px;
                top: -50px;
                opacity: 0.5;
                margin: 0;
            }
            @media only screen and (max-width: 767px) {
                display: none;
            }
        }
        .right {
            margin-left: 20px;
            transform: translateY(90px);
            @media only screen and (max-width: 991px) {
                position: absolute;
                right: -75px;
                opacity: 0.5;
            }
            @media only screen and (max-width: 767px) {
                display: none;
            }
        }
    }
    .cocktails-content {
        .see-all-recipes {
            margin-top: 50px;
            @media only screen and (max-width: 575px) {
                margin-top: 0;
            }
        }
        .cocktails-content-inner {
            padding: 0 20px;
            @media only screen and (max-width: 575px) {
                text-align: center;
                margin-bottom: 50px;
            }
            // &:hover {
            //     .see-recipe {
            //         img {
            //             opacity: 0.35;
            //         }
            //         .btn-outline {
            //             opacity: 1;
            //             @include transform(translate(-50%,-50%));
            //             visibility: visible;
            //         }
            //     }
            // }
            .see-recipe {
                margin-bottom: 21px;
                position: relative;
                .btn-outline {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    @include transform(translate(-50%,-20%));
                    @include transition(0.5s);
                    opacity: 0;
                    visibility: hidden;
                }
                img {
                    @include transition(0.5s);
                }
                &:hover {
                    img {
                        opacity: 0.35;
                    }
                    .btn-outline {
                        opacity: 1;
                        @include transform(translate(-50%,-50%));
                        visibility: visible;
                    }
                }
            }
            h6 {
                margin-bottom: 11px;
            }
            p {
                font-family: "GT Sectra Display";
                font-size: 18px;
                line-height: 23px;
                letter-spacing: 0.02em;
                margin: 0;
                @media only screen and (max-width: 575px) {
                    max-width: 300px;
                    margin: auto;
                }
            }
        }
    }
}
