.product-block {
    margin-bottom: 86px;
    .product-block-inner {
        transform: translateY(-60px);
        @media only screen and (max-width: 767px) {
            transform: translateY(0px);
            margin-top: 50px;
        }
        .product-block-detail {
            @media only screen and (max-width: 767px) {
                text-align: center;
                margin-bottom: 50px;
            }
            .add-to-cart {
                position: relative;
                display: inline-block;
                .btn-primary {
                    position: absolute;
                    top: 55%;
                    left: 50%;
                    @include transform(translate(-50%,0%));
                    width: 100%;
                    opacity: 0;
                    visibility: hidden;
                    @include transition(0.5s);
                }
                img {
                    @include transition(0.5s);
                    opacity: 1;
                }
                &:hover {
                    img {
                        opacity: 0.35;
                    }
                    .btn-primary {
                        @include transform(translate(-50%,-50%));
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            .title {
                font-family: "GT Sectra Display";
                font-size: 32px;
                line-height: 40px;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                margin-bottom: 10px;
            }
            .price {
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.09em;
            }
            .desc {
                font-size: 18px;
                line-height: 23px;
                margin-top: 10px;
                margin-bottom: 20px;
                max-width: 284px;
                @media only screen and (max-width: 767px) {
                    margin: auto;
                    margin-top: 10px;
                    margin-bottom: 20px;                
                }
            }
            .btn-more {
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.09em;
                text-transform: uppercase;
                @include transition(0.2s);
                img {
                    margin-left: 8px;
                    @include transition(0.5s);
                    width: 14px;
                }
                &:hover {
                    img {
                        margin-left: 15px;
                    }
                }
            }
        }
        .view-all {
            margin-top: 68px;
            @media only screen and (max-width: 767px) { 
                margin-top: 30px;
            }
        }
    }
}
.white-line {
    position: absolute;
    top: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: translateY(120px);
    @media only screen and (max-width: 767px) { 
        display: none;
    }
}