.hero-banner {
    min-height: 900px;
    position: relative;
    margin-top: 44px;
    margin-bottom: 71px;
    .banner-img {
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%,-50%));
        max-width: 1045px;
    }
    h1 {
        margin-bottom: 283px;
        padding-top: 14px;
        @media only screen and (max-width: 991px) {
            text-align: left;
            margin-bottom: 0;
        }
        @media only screen and (max-width: 574px) {
            margin-bottom: 50px;
        }
    }
    .social {
        margin-bottom: 45px;
        position: relative;
        a {
            display: block;
            line-height: 23px;
            margin-bottom: 5px;
            @media only screen and (max-width: 991px) {
                color: #000000;
            }
        }
    }
    .subscribe {
        padding: 8px 0;
        background: rgba(0, 0, 0, 0.9);
        min-height: 54px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        @media only screen and (max-width: 991px) {
            position: absolute;
            width: 100vw;
            left: 50%;
            @include transform(translateX(-50%));
            padding: 10px 15px;
            bottom: 100px;
        }
        .btn-close {
            margin-left: 10px;
        }
        .subscribe-inner {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            @media only screen and (max-width: 575px) {
                display: block;
            }
            img {
                margin-right: 25px;
                @media only screen and (max-width: 680px) {
                    display: none;
                }
            }
            p {
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                margin-right: 25px;
                @media only screen and (max-width: 767px) {
                    max-width: 200px;
                }
                @media only screen and (max-width: 575px) {
                    font-size: 12px;
                    margin-right: 0;
                    margin-bottom: 10px;
                    max-width: 100%;
                }
                strong {
                    font-weight: 700;
                }
            }
            .form-group {
                margin-bottom: 0;
                position: relative;
                input {
                    background: rgba(255, 255, 255, 0.12);
                    border: none;
                    border-radius: 0;
                    height: 36px;
                    min-width: 378px;
                    padding: 8px 25px;
                    color: #ffffff;
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: 0.09em;
                    &::placeholder {
                        color: #ffffff;
                        font-size: 16px;
                        line-height: 19px;
                        letter-spacing: 0.09em;
                    }
                    @media only screen and (max-width: 767px) {
                        min-width: 250px;
                    }
                }
                a {
                    position: absolute;
                    right: 12px;
                    top: 50%;
                    @include transform(translateY(-50%));
                    img {
                        margin: 0;
                    }
                }
            }
        }
    }
}