// Global variables



// Mixins 
@mixin transition($param) {
    -ms-transition: $param;
    -o-transition: $param;
    -moz-transition: $param;
    -webkit-transition: $param;
    transition: $param;
}

@mixin transform($param...) {
    -ms-transform: $param;
    -o-transform: $param;
    -moz-transform: $param;
    -webkit-transform: $param;
    transform: $param;
}

@mixin border-radius($param) {
    -webkit-border-radius: $param;
    -moz-border-radius: $param;
    border-radius: $param;
}

@mixin box-shadow($param...) {
    -webkit-box-shadow: $param;
    -moz-box-shadow: $param;
    box-shadow: $param;
}

@mixin flex-column($param...) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 $param;
    flex: 0 0 $param;
    max-width: $param;
}

@mixin flex-display() {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

@mixin center-content() {
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
}

@mixin mid-content() {
    position: absolute;
    left: 50%;
    @include transform(translateX(-50%));
}

@mixin animation($param...) {
    animation: $param;
    -webkit-animation: $param;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content
    }
    ;
    &:-moz-placeholder {
        @content
    }
    ;
    &::-moz-placeholder {
        @content
    }
    ;
    &:-ms-input-placeholder {
        @content
    }
    ;
}

//css
body {
    font-weight: 400;
    font-style: normal;
    background: #000;
    overflow-x: hidden;
    color: #FFFFFF;
    font-family: "HK Grotesk";
}

.container,
.container-fluid {
    position: relative;
}

h1,
h2 {
    font-family: "GT Sectra Display";
    font-weight: 400;
    font-size: 165px;
    line-height: 205px;
    text-transform: uppercase;
    position: relative;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 0;
    .stroke {
        -webkit-text-stroke: 2px #FFFFFF;
        -webkit-text-fill-color: transparent;
    }
}

h1 {
    @media only screen and (max-width: 991px) {
        font-size: 110px;
    }
    @media only screen and (max-width: 680px) {
        font-size: 90px;
    }
    @media only screen and (max-width: 575px) {
        font-size: 70px;
    }
    @media only screen and (max-width: 574px) {
        line-height: normal;
        margin-bottom: 50px;
    }
}

h2 {
    font-size: 100px;
    line-height: 0.85;
    text-align: left;
    .fs-127 {
        font-size: 127px;
        @media only screen and (max-width: 680px) {
            font-size: 100px;
        }
        @media only screen and (max-width: 575px) {
            font-size: 70px;
        }
    }
    @media only screen and (max-width: 991px) {
        font-size: 90px;
    }
    @media only screen and (max-width: 680px) {
        font-size: 70px;
    }
    @media only screen and (max-width: 575px) {
        font-size: 50px;
    }
}

h5 {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.43em;
    text-transform: uppercase;
}

h6 {
    font-family: "GT Sectra Display";
    font-size: 27px;
    line-height: 33px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

img {
    max-width: 100%;
}

input,
a,
button {
    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

a {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 400;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: #FFFFFF;
    }
}

.no-pd {
    padding: 0;
}

.btn-outline {
    padding: 10px 22px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    @include transition(0.2s);
    &:hover {
        background: #fff;
        color: #000;
    }
}

.btn-primary {
    padding: 10px 21px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #000;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    @include transition(0.2s);
    height: 35px;
    &:hover {
        background: transparent;
        border: 1px solid #FFFFFF;
        color: #fff
    }
}

p {
    margin: 0;
}

.container-fluid {
    @media only screen and (max-width: 767px) {
        padding: 0;
    }
}

.container {
    @media only screen and (max-width: 767px) {
        max-width: 100%;
        padding: 0 15px;
    }
}