// @font-face {
//     font-family: 'Crimson Text';
//     src: url('../fonts/CrimsonText-BoldItalic.woff2') format('woff2'),
//         url('../fonts/CrimsonText-BoldItalic.woff') format('woff');
//     font-weight: bold;
//     font-style: italic;
// }

@font-face {
    font-family: 'HK Grotesk';
    src: url('./fonts/HKGrotesk-Bold.woff2') format('woff2'),
        url('./fonts/HKGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('./fonts/HKGrotesk-Light.woff2') format('woff2'),
        url('./fonts/HKGrotesk-Light.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('./fonts/HKGrotesk-Italic.woff2') format('woff2'),
        url('./fonts/HKGrotesk-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('./fonts/HKGrotesk-Medium.woff2') format('woff2'),
        url('./fonts/HKGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('./fonts/HKGrotesk-SemiBold.woff2') format('woff2'),
        url('./fonts/HKGrotesk-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Sectra Display';
    src: url('GTSectraDisplay-Light.woff2') format('woff2'),
        url('GTSectraDisplay-Light.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


