.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 58px;
    padding-bottom: 41px;
    border-top: 1px solid rgba(255, 255, 255, 0.35);
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    margin-bottom: 12px;
    .skull-v2 {
        margin-right: 15px;
    }
    .sitemap {
        margin-right: 15px;
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
                display: inline-block;
                margin-right: 73px;
                @media only screen and (max-width: 991px) { 
                    margin-right: 0;
                    margin-bottom: 10px;
                    width: 49%;
                }
                @media only screen and (max-width: 480px) { 
                    width: 100%;
                }
                &:last-child {
                    margin-right: 0;
                }
                a {
                    font-family: "GT Sectra Display";
                    font-size: 18px;
                    line-height: 22px;
                    letter-spacing: 0.09em;
                    text-transform: uppercase;
                    @media only screen and (max-width: 575px) { 
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .social {
        margin-right: 35px;
        margin-top: 5px;
        a {
            display: block;
            margin-bottom: 21px;
        }
    }
}
.copyright {
    font-size: 12px;
    margin-bottom: 27px;
    .copyright-inner {
        font-family: "GT Sectra Display";
        display: block;
        margin-bottom: 36px;
    }
    p {
        font-family: "Roboto";
        line-height: 14px;
        span {
            margin-bottom: 22px;
            display: block;
        }
    }
}
.subsribe {
    margin-top: 104px;
    @media only screen and (max-width: 991px) { 
        margin-top: 40px;
    }
    form {
        .form-group {
            margin-bottom: 0;
            position: relative;
            max-width: 360px;
            input {
                border: none;
                border-bottom: 1px solid #FFFFFF;
                background: transparent;
                border-radius: 0;
                padding: 0;
                padding-bottom: 18px;
                min-height: 43px;
                font-family: "GT Sectra Display";
                font-size: 20px;
                line-height: 25px;
                letter-spacing: 0.09em;
                color: rgba(255, 255, 255, 0.35);
                padding-right: 30px;
                @media only screen and (max-width: 575px) { 
                    font-size: 16px;
                }
                &::placeholder {
                    font-family: "GT Sectra Display";
                    font-size: 20px;
                    line-height: 25px;
                    letter-spacing: 0.09em;
                    color: rgba(255, 255, 255, 0.35);
                    @media only screen and (max-width: 575px) { 
                        font-size: 16px;
                    }
                }
            }
            a {
                position: absolute;
                right: 0;
                top: 30%;
                @include transform(translateY(-50%));
            }
        }
    }
}