.getit-wrap {
    font-family: 'HK Grotesk';
    padding: 8px 15px;
    min-height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    font-weight: 600;
    @media only screen and (max-width: 767px) {
        justify-content: flex-start;
        max-width: 100%;
        padding-right: 50px;
    }
    h6 {
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        letter-spacing: 0.09em;
        margin: 0;
        margin-right: 20px;
        @media only screen and (max-width: 767px) {
            font-size: 12px;
        }
    }
    .btn-outline {
        @media only screen and (max-width: 767px) {
            font-size: 10px;
            min-width: 115px;
            text-align: center;
        }
    }
    .btn-close {
        position: absolute;
        right: 15px;
        top: 50%;
        @include transform(translateY(-50%));
    }
}