.header-wrap {
    padding-top: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .gin-navi {
        @media only screen and (max-width: 991px) {
            display: none;
        }
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
                display: inline-block;
                margin-right: 52px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .user {
        display: flex;
        align-items: center;
        @media only screen and (max-width: 991px) {
            display: none;
        }
        .cart {
            margin-left: 26px;
        }
        .skull {
            margin-left: 32px;
            position: relative;
            img {
                min-width: 28px;
            }
            .noti {
                font-family: 'GT Sectra Display';
                background: #FFFFFF;
                border: 1px solid #000000;
                font-size: 18px;
                color: #000000;
                width: 27px;
                height: 27px;
                border-radius: 50px;
                position: absolute;
                top: 50%;
                @include transform(translateY(-50%));
                left: -13px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 400;
                span {
                    line-height: normal;
                    position: relative;
                    top: -2px;
                }
            }
        }
    }
}
.header-content {
    margin-top: 39px;
    p {
        max-width: 127px;
        font-family: "HK Grotesk";
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}
.resp-navbar {
    display: none;
    font-size: 16px;
    position: relative;
    z-index: 10;
    @media only screen and (max-width: 991px) {
        display: block;
    }
    .resp-navbar-wrap {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        @include transition(0.5s);
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: #000000;
            opacity: 0;
            z-index: 1;
            @include transition(0.5s);
        }
        .resp-navbar-inner {
            z-index: 2;
            position: absolute;
            top: 0;
            right: 0;
            max-width: 360px;
            width: 100%;
            height: 100%;
            background: #FFFFFF;
            padding: 32px 56px;
            @include transition(0.5s);
            @include transform(translateX(100%));
            @media only screen and (max-width: 575px) {
                max-width: 100%;
            }
        }
        .user,
        .gin-navi {
            display: block;
        }
        .user-resp {
            display: flex;
            align-items: center;
            justify-content: space-between;
            img {
                max-width: 50px;
            }
            .btn-close {
                color: #000000;
                font-size: 20px;
            }
        }
        .gin-navi {
            margin-top: 50px;
            ul {
                li {
                    display: block;
                    margin-right: 0;
                    a {
                        color: #000000;
                        font-size: 28px;
                        line-height: 200%;
                        text-transform: capitalize;
                    }
                }
            }
        }
        .user-action {
            position: absolute;
            bottom: 32px;
            left: 0;
            padding: 0 56px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
                color: #000000;
            }
            .btn-primary {
                border: 1px solid #000000;
                background: #000000;
                color: #FFFFFF;
                &:hover {
                    background: #FFFFFF;
                    color: #000000;
                }
            }
        }
    }
    &.active {
        .resp-navbar-wrap {
            visibility: visible;
            opacity: 1;
            z-index: 1;
            .overlay {
                opacity: 0.7;
            }
            .resp-navbar-inner {
                @include transform(translateX(0));
            }
        }
    }
}