doctype html
html(lang="en")
    head
        title= ""
        include partials/master/head.pug

    body
        include partials/master/getitnow.pug
        include partials/master/header.pug
        include partials/homepage/banner.pug
        include partials/homepage/product.pug
        include partials/homepage/triple-threat.pug
        include partials/homepage/cocktails.pug
        include partials/homepage/cta.pug
        include partials/homepage/shop.pug
        include partials/homepage/socialites.pug

        include partials/master/footer.pug
    include partials/master/foot.pug