.container
    .hero-banner
        img(src="assets/images/banner.png", alt="").banner-img
        h1 
            span.stroke deadly 
            | dry
        .social
            a(href="#") insta
            a(href="#") FB
        .subscribe
            .subscribe-inner
                img(src="assets/images/gin-shot.png", alt="")
                p
                    strong 10% off 
                    | first order when you subscribe
                form(action="")
                    .form-group
                        input(type="text" placeholder="Hello@ma").form-control
                        a(href="javascript:void(0);")
                            img(src="assets/images/next.svg", alt="")
            a(href="javascript:void(0);").btn-close
                img(src="assets/images/x-button-white.svg", alt="")    