.container.cocktails-wrap
    .cocktails-header
        .row.justify-content-center.align-items-start
            img(src="assets/images/Cocktail.png", alt="").left
            .maintitle
                h5 COCKTAILS
                h2
                    span.stroke a 
                    | symphony
                    br
                    span.stroke of 
                    | flavours
            img(src="assets/images/lemonn.png", alt="").right
    .cocktails-content
        .row.justify-content-center
            .col-lg-4.col-sm-6.cocktails-content-inner
                .see-recipe
                    img(src="assets/images/cocktail-1.jpg", alt="")
                    a(href="#").btn-outline see recipe
                h6 BLOODY SPRITZ
                p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
            .col-lg-4.col-sm-6.cocktails-content-inner
                .see-recipe
                    img(src="assets/images/cocktail-2.jpg", alt="")
                    a(href="#").btn-outline see recipe
                h6 CRYPT COCKY
                p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
            .col-12.text-center.see-all-recipes
                a(href="#").btn-primary See all Recipes