.container.cta-wrap
    .row.justify-content-center
        .col-lg-8.col-md-12.cta-inner
            img(src="assets/images/cta-img.jpg", alt="")
            .cta-content
                p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo 
                a(href="#").btn-primary CTA GOES HERE
            