
.container
    .product-overview
        .maintitle
            h5 gin
            h2 
                span.stroke A 
                |BEAUTIFUL
                br
                span.stroke.fs-127 SACRIFICE
.container-fluid
    span.white-line
    .container
        .product-block
            .product-block-inner
                .row
                    .col-md-4.product-block-detail
                        .add-to-cart
                            img(src="assets/images/dry.png", alt="")
                            a(href="javascript:void(0);").btn-primary add to cart
                        h6.title Dry
                        span.price $85
                        p.desc Lorem ipsum dolor sit amet, Sinef consetetur sadipscing elitr, sed diam nonumy eirmod 
                        a(href="#").btn-more
                            | Learn more
                            img(src="assets/images/next.svg", alt="")
                    .col-md-4.product-block-detail
                        .add-to-cart
                            img(src="assets/images/dry.png", alt="")
                            a(href="javascript:void(0);").btn-primary add to cart
                        h6.title Coffee
                        span.price $100
                        p.desc Lorem ipsum dolor sit amet, Sinef consetetur sadipscing elitr, sed diam nonumy eirmod 
                        a(href="#").btn-more
                            | Learn more
                            img(src="assets/images/next.svg", alt="")
                    .col-md-4.product-block-detail
                        .add-to-cart
                            img(src="assets/images/chili.png", alt="")
                            a(href="javascript:void(0);").btn-primary add to cart
                        h6.title Chilli
                        span.price $100
                        p.desc Lorem ipsum dolor sit amet, Sinef consetetur sadipscing elitr, sed diam nonumy eirmod 
                        a(href="#").btn-more
                            | Learn more
                            img(src="assets/images/next.svg", alt="")
                .row.justify-content-center.view-all
                    a(href="#").btn-primary view all products