.container.shop-wrap
    .row.justify-content-center
        .col-lg-10.col-md-12
            .shop-inner(style="background-image: url('assets/images/merch.jpg')")
                h5 shop
                h2 merch
                a(href="#").btn-primary STALK US
         
