.container.social-wrap
    .social-header
        h5 insta
        h2 SOCIALITES
    .social-content
        .row.justify-content-center
            .col-xl-10.col-sm-12.social-content-inner
                img(src="assets/images/cocktail-1.jpg", alt="")
                img(src="assets/images/cocktail-2.jpg", alt="")
                img(src="assets/images/cocktail-3.jpg", alt="")
        .row.justify-content-center    
            a(href="#").btn-primary stalk us