.container-fluid
    .container.triple-threat-wrap
        .row.justify-content-center.align-items-center
            .col-xl-5.col-lg-6.col-md-8.triple-threat-img
                img(src="assets/images/triple-threat.jpg", alt="")
            .col-lg-3.col-md-4.triple-threat-content
                h2
                    |Triple
                    br
                    span.stroke Threat
                .discout-combo 
                    span.save Save 15%
                    p.desc When you the 3 different bottles
                    .combo-detail
                        p 1x DRY
                        p 1x COFFEE
                        p 1x CHILLI
                .number-product
                    a(href="javascript:void(0);")
                        img(src="assets/images/minus.svg", alt="")
                    span.total-number-product 1
                    a(href="javascript:void(0);")
                        img(src="assets/images/plus.svg", alt="")
                a(href="javascript:void(0);").btn-primary add to cart - $240
